---
layout: page
title: Blog | Kraken Systems
active: blog
excerpt: "We should add this for meta"
comments: true
search_omit: true
---

<section class="section swatch-yellow-black">
    <div class="container">
	    <header class="section-header">
	        <h1 class="headline hyper hairline">Blog</h1>
	        <p>
	        	Occasionaly we write some interesting things we were working on.
	        </p>
	    </header>
	</div>
</section>
<section class="section swatch-white-red has-top">
<div class="decor-top">
    <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
    </svg>
</div>
<div class="container">
	<div class="row">
	    <div class="col-md-9">
			{% for post in site.posts %}
			<article class="post post-showinfo type-post status-publish format-image has-post-thumbnail hentry category-news category-web-design tag-design tag-dynamics tag-minimal post_format-post-format-image">
				<div class="post-media">
					<a href="{{ post.url }}" class="feature-image">
						<img src="/assets/images/uploads/{{post.cover}}">	
					</a>
				</div>
				<div class="post-head small-screen-center">
			        <h2 class="post-title entry-title">
			            <a href="{{ post.url }}" title="Permalink to This theme is so nice!" rel="bookmark">
			                 {{ post.title }}
                        </a>
			        </h2>
			        <small class="post-author">
			            <a href="{{ post.author_link }}">
			                {{ post.author }}
			            </a>
			        </small>
        			<small class="post-date">
            			{{ post.date | date_to_string }}
            		</small>
            	</div>
				<div class="post-body">
                    <p>
                		{{ post.excerpt }}    
                    </p>
                    <a class="more-link" href="{{post.url}}">
      					read more
    				</a>
                </div>
				<div class="post-extras bordered padded-huge text-center">
					<div class="text-center">
            			<span class="post-category">
                            <i class="fa fa-folder-open"></i>
                            {% for category in post.categories %}
                				<a href="/category/{{ category }}" rel="tag">{{ category }}</a>
                			{% endfor %}
                		</span>
            			<span class="post-tags">
                            <i class="fa fa-tags"></i>
                            {% for tag in post.tags %}
                				<a href="/tag/{{ tag }}" rel="tag">{{ tag }}</a>, 
                			{% endfor %}
                		</span>
            			<span class="post-link">
                            <i class="fa fa-comments"></i>
                			<a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{post.url}}">Link</a>
                		</span>
        			</div>
				</div>
			</article>
			{% endfor %}
		</div>
		<aside class="col-md-3 sidebar">
                            <div class="sidebar-widget widget_categories">
                                <h3 class="sidebar-header">Categories</h3>
                                <ul>
                                    <li>
                                        <a href="#">
        Company
      </a>
                                    </li>
                                    <li>
                                        <a href="#">
        News
      </a>
                                    </li>
                                    <li>
                                        <a href="#">
        Services
      </a>
                                    </li>
                                    <li>
                                        <a href="#">
        Web Design
      </a>
                                    </li>
                                </ul>
                            </div>
                            
                            
                            <div class="sidebar-widget widget_archive">
                                <h3 class="sidebar-header">Archive</h3>
                                <ul>
                                    <li>
                                        <a href="#">
        January
      </a>
                                        (12)
                                    </li>
                                    <li>
                                        <a href="#">
        December
      </a>
                                        (7)
                                    </li>
                                    <li>
                                        <a href="#">
        October
      </a>
                                        (4)
                                    </li>
                                    <li>
                                        <a href="#">
        September
      </a>
                                        (9)
                                    </li>
                                    <li>
                                        <a href="#">
        August
      </a>
                                        (13)
                                    </li>
                                </ul>
                            </div>
                        </aside>
	</div>
</div>
</section>
<script id="dsq-count-scr" src="//krakensystems.disqus.com/count.js" async></script>